In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
from pathlib import Path
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

## Loading and Preprocessing Data

In [2]:
# Read the preprocessed_doggy file into a DataFrame
doggy_df = pd.read_csv(Path("preprocessed_doggy.csv"))

# Review the DataFrame
display(doggy_df.head())
display(doggy_df.tail())

,Unnamed: 0,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost,Breed
0,0,Bronx,Yes,middle,0.4,0.4,0.8,0.8,1.0,Small 9-35lb,0.6,Low,Boxer
1,1,Manhattan,Yes,high,0.8,0.2,0.6,0.6,1.0,Toy >9lb,0.8,Medium,Maltese
2,2,Manhattan,Yes,high,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium,Yorkshire Terrier
3,3,Brooklyn,Yes,low,0.4,0.8,0.6,1.0,0.6,Small 9-35lb,0.4,Low,German Shepherd Dog
4,4,Brooklyn,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium,Cavalier King Charles Spaniel

,Unnamed: 0,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost,Breed
275750,275750,Queens,Yes,middle,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium,Yorkshire Terrier
275751,275751,Manhattan,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium,Cavalier King Charles Spaniel
275752,275752,Brooklyn,No,middle,0.2,0.4,0.6,0.4,0.6,Toy >9lb,1.0,High,Chihuahua
275753,275753,Staten Island,No,middle,0.4,0.8,1.0,1.0,1.0,Small 9-35lb,0.6,Medium,Labrador Retriever
275754,275754,Queens,No,middle,0.4,0.2,0.6,1.0,1.0,Toy >9lb,0.8,Low,Boston Terrier

In [3]:
# Remove the Unnamed col
doggy_df = doggy_df[['Borough', 'dog_friendly', 'income_cat',
       'grooming_frequency', 'shedding', 'energy_level', 'trainability',
       'demeanor', 'size', 'life_expectancy', 'lifetime_cost', 'Breed']]

doggy_df.head()

,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost,Breed
0,Bronx,Yes,middle,0.4,0.4,0.8,0.8,1.0,Small 9-35lb,0.6,Low,Boxer
1,Manhattan,Yes,high,0.8,0.2,0.6,0.6,1.0,Toy >9lb,0.8,Medium,Maltese
2,Manhattan,Yes,high,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium,Yorkshire Terrier
3,Brooklyn,Yes,low,0.4,0.8,0.6,1.0,0.6,Small 9-35lb,0.4,Low,German Shepherd Dog
4,Brooklyn,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium,Cavalier King Charles Spaniel

In [4]:
# Define features set
X = doggy_df.copy()
X.drop("Breed", axis=1, inplace=True)
X.head()

,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost
0,Bronx,Yes,middle,0.4,0.4,0.8,0.8,1.0,Small 9-35lb,0.6,Low
1,Manhattan,Yes,high,0.8,0.2,0.6,0.6,1.0,Toy >9lb,0.8,Medium
2,Manhattan,Yes,high,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium
3,Brooklyn,Yes,low,0.4,0.8,0.6,1.0,0.6,Small 9-35lb,0.4,Low
4,Brooklyn,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium

In [5]:
# Define target vector
y = doggy_df["Breed"].ravel()
y[:5]

array(['Boxer', 'Maltese', 'Yorkshire Terrier', 'German Shepherd Dog',
       'Cavalier King Charles Spaniel'], dtype=object)

In [6]:
# Use LabelEncoder to convert targets(50) into a single column
# Use LabelEncoder on the y DataFrame to encode the Dog Breeds
label_encoder_df = LabelEncoder()

# Encode Labels
y_encoded = label_encoder_df.fit_transform(y)

# Test the results of the encoder
# Display first 50 of encoded column
display(y_encoded[0:50])

# Get the original labels back
display(label_encoder_df.inverse_transform(y_encoded[0:50]))

array([10, 30, 49, 24, 14, 14, 10, 10,  3, 28,  3, 25,  3, 49, 29,  9,  6,
       25, 26,  6, 14, 10, 15, 30, 15, 29, 15, 49,  3,  6, 44, 29, 44,  3,
       26, 16,  3, 23, 45, 37, 10, 15, 29, 12, 43, 39, 49, 28, 15, 30])

array(['Boxer', 'Maltese', 'Yorkshire Terrier', 'German Shepherd Dog',
       'Cavalier King Charles Spaniel', 'Cavalier King Charles Spaniel',
       'Boxer', 'Boxer', 'Beagle', 'Havanese', 'Beagle',
       'German Shorthaired Pointer', 'Beagle', 'Yorkshire Terrier',
       'Labrador Retriever', 'Boston Terrier', 'Bichon Frise',
       'German Shorthaired Pointer', 'Golden Retriever', 'Bichon Frise',
       'Cavalier King Charles Spaniel', 'Boxer', 'Chihuahua', 'Maltese',
       'Chihuahua', 'Labrador Retriever', 'Chihuahua',
       'Yorkshire Terrier', 'Beagle', 'Bichon Frise', 'Shih Tzu',
       'Labrador Retriever', 'Shih Tzu', 'Beagle', 'Golden Retriever',
       'Cocker Spaniel', 'Beagle', 'French Bulldog', 'Siberian Husky',
       'Poodle', 'Boxer', 'Chihuahua', 'Labrador Retriever', 'Bulldog',
       'Shiba Inu', 'Pug', 'Yorkshire Terrier', 'Havanese', 'Chihuahua',
       'Maltese'], dtype=object)

In [7]:
# Use get_dummies to convert category types to numbers
y = pd.get_dummies(y, dtype=int)
X = pd.get_dummies(X, dtype=int)

In [8]:
display(y.sample(10))
display(X.head(3))

,Australian Cattle Dog,Australian Shepherd,Basset Hound,Beagle,Belgian Malinois,Bernese Mountain Dog,Bichon Frise,Bloodhound,Border Collie,Boston Terrier,...,Rhodesian Ridgeback,Rottweiler,Shetland Sheepdog,Shiba Inu,Shih Tzu,Siberian Husky,Vizsla,Weimaraner,West Highland White Terrier,Yorkshire Terrier
167854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
48964,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
198006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
57742,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
75354,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36742,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,grooming_frequency,shedding,energy_level,trainability,demeanor,life_expectancy,Borough_Bronx,Borough_Brooklyn,Borough_Manhattan,Borough_Queens,...,income_cat_low,income_cat_middle,size_Giant <75lb,size_Large 55-75lb,size_Medium 35-55lb,size_Small 9-35lb,size_Toy >9lb,lifetime_cost_High,lifetime_cost_Low,lifetime_cost_Medium
0,0.4,0.4,0.8,0.8,1.0,0.6,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
1,0.8,0.2,0.6,0.6,1.0,0.8,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
2,1.0,0.2,0.6,0.2,0.8,0.8,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1

In [9]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [11]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [12]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
y_train = y_train.values
y_test = y_test.values

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 40


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=50, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               2500

 dense_1 (Dense)             (None, 40)                4040

 dense_2 (Dense)             (None, 50)                2050

=================================================================
Total params: 8590 (33.55 KB)
Trainable params: 8590 (33.55 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

6463/6463 [==============================] - 12s 2ms/step - loss: 0.0083 - accuracy: 0.9588
Epoch 2/10
6463/6463 [==============================] - 12s 2ms/step - loss: 5.8912e-05 - accuracy: 0.9996
Epoch 3/10
6463/6463 [==============================] - 8s 1ms/step - loss: 5.2437e-05 - accuracy: 0.9997
Epoch 4/10
6463/6463 [==============================] - 8s 1ms/step - loss: 5.0257e-05 - accuracy: 0.9997
Epoch 5/10
6463/6463 [==============================] - 12s 2ms/step - loss: 4.9583e-05 - accuracy: 0.9997
Epoch 6/10
6463/6463 [==============================] - 9s 1ms/step - loss: 5.5981e-05 - accuracy: 0.9996
Epoch 7/10
6463/6463 [==============================] - 8s 1ms/step - loss: 4.8889e-05 - accuracy: 0.9997
Epoch 8/10
6463/6463 [==============================] - 8s 1ms/step - loss: 5.4579e-05 - accuracy: 0.9996
Epoch 9/10
6463/6463 [==============================] - 8s 1ms/step - loss: 4.7605e-05 - accuracy: 0.9997
Epoch 10/10
6463/6463 [==============================] - 8s 1ms/step - loss: 4.9652e-05 - accuracy: 0.9997

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2155/2155 - 4s - loss: 6.5703e-05 - accuracy: 0.9995 - 4s/epoch - 2ms/step
Loss: 6.570291589014232e-05, Accuracy: 0.9995213150978088

In [18]:
# Export our model to HDF5 file
nn.save('final_project_dl.h5')

C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(